@use "bootstrap/scss/functions" as *;
@use "bootstrap/scss/mixins" as *;

$body-color: #131214;
$body-secondary-color: #580078;
$body-tertiary-color: #fbf5fe;

$body-primary-bg: #fbf5fe;
$body-tertiary-bg: #52277c;
$font-family-base: "National Park";

$hr-color: #cf45ff;

@use "bootstrap/scss/bootstrap";

body {
  background-color: $body-primary-bg !important;
  font-family: "National Park", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $body-secondary-color !important;
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
}

.nav-link {
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.nav {
  .nav-link {
    font-weight: bold !important;
  }

  .nav-link.active {
    border-bottom-width: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .nav-link:hover {
    border-bottom-color: $nav-link-underline-color !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  a:hover {
    text-decoration: none !important;
  }
}


a {
  color: $body-color !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.colored-bg {
  color: $body-tertiary-color;
  background-color: $body-tertiary-bg;

  a {
    color: $body-tertiary-color !important;
  }
}

.footer {
  margin-top: auto;
}

hr.hr {
  border-color: $hr-color !important;
  opacity: 0.5 !important;
}


